@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px; 
    padding-left:50vh;
    padding-right: 50vh;
    padding-top: 6vh;
    padding-bottom: 10vh;
}
.grid-item {
    width: calc(33.33% - 10px); 
    height: 35vh; 
    background-color: white; 
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    border-top-right-radius: 4vh;
}
.grid-item:hover{
    background-color: #FAFAFA;
    border-bottom: solid #B2A79F  1.3vh;
    color:white;
}
.grid-item a {
    font-size: 1.8rem; 
    max-width: 30%;
    text-decoration: none; 
    color:  #d4a9a8; 
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    line-height: 1;
    letter-spacing: -2px;
}
.logo-container {
    width: calc(33.33% - 10px); 
    height: 25vh; 
    background-color: #EDE9E9;
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    background-image: url('https://github.com/4GeeksAcademy/finalProject-LATAM-pt25/blob/prototype/src/front/img/logoHome.png?raw=true');
    background-size: contain;
    background-position: center bottom; 
    background-repeat: no-repeat; 
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .grid-item, .logo-container {
        width: calc(50% - 10px); 
    }
}

